<!DOCTYPE html>
<html lang="en">
  <meta carset="utf-8">
  <meta name="viewport" content="width=device-wdith, initial-scale=1.0">
  <title>Hello World App</title>
  <body>
    <h1 style="color:red">Hello World!</h1>
  </body>
</html>
